---

title: Grin Data Explorer
---

<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css" />

<div uk-grid>
    <section class="uk-margin uk-width-1-1@s uk-card uk-card-default uk-card-body uk-margin-small-top uk-card-large uk-margin-remove-vertical">

        <table cellspacing="0" cellpadding="5" class="uk-padding">
            <tr>
            <td width="200" style="text-align: right;">
            Germplasm to use:
            </td>
            <td>
            <input class="uk-radio" type="radio" name="inpCultivarsRadio" id="inpAllCultivarsRadio" checked='checked' value="ALL" onchange="funAllCultivarsClick()">
            </td>
            <td>
            All GRIN Accessions
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
            <input class="uk-radio" type="radio" name="inpCultivarsRadio"  id="inpLimitCultivarsRadio" value="LIMIT" onchange="funLimitedCultivarsClick()">
            </td>
            <td>
            Let me choose
            </td>
            </tr>
        </table>
    
        <div id="divCultivarSelectionContainer">
            <table class="uk-padding uk-padding-remove-top">
            <tr>
            <td width="240"></td>
            <td>
            List the germplasm you would like to include in your report in the box below. Please only add one name per line.
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
            <textarea id="tareaCultivarsList" name="tareaCultivarsList" cols="30" rows="8"></textarea>
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
            Or load it from disk <input type="file" id="fileSelected" name="fileSelected" onchange="funCultivarFileChanged()" />
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
            Or load an <a href="javascript:funExampleCultivarsClick()">Example Set</a>
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
            <a href="javascript:funResetCultivarsClick()">Clear this List</a>
            </td>
            </tr>
            </table>
        </div>
    
    </section>
    
    <section class="uk-margin-medium-top uk-text-small uk-text-nowrap">
    
        <div class="uk-margin-large-left uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid="masonary: pack" id="traits-dropdown"></div>
    </section>
</div>



<button id="btnTopSubmitMainForm_test" class="uk-button uk-button-primary uk-width-1-1@s uk-width-1-6@l uk-margin" onclick="getTraitValues('51009')">Get Traits</button>

<!-- Liquid Templating lang -->

<!-- <div>
    <div class="uk-margin uk-width-1-1@s uk-margin-small-top uk-card-large uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>

        {% assign traitClassName = site.data.traits-Glycine | map: 'traitClass' | uniq %}
        {% for item in traitClassName %}
        <div class="uk-card uk-card-default uk-card-body uk-margin-small-left">
            <label  class="uk-text-bold"><input class="uk-checkbox uk-margin-small-right" type="checkbox">{{item}}</label>
                {% for name in site.data.traits-Glycine %}
                 {% if name.traitClass == item %}
                    <div class="uk-margin-medium-left">
                        <label  class="uk-text-danger"><input id={{name.traitDbId}} class="uk-checkbox uk-margin-small-right" type="checkbox" value={{name.traitDbId}} onclick={getTraitValues(this.value)}>{{name.traitName}}</label>
                        <br>
                        <span id="min-value"></span><div id="value-slider"></div><span id="max-value"></span>
                        <p ><span id="value"></span</p>
                    </div>
                    {% endif %}
                    {% endfor %}
        </div>
        <br>
                {% endfor %}
        
        </div>
</div> -->
