#tools{position:absolute;z-index:99;top:140px;left:125px;border:none;width:400px;border:solid;padding-bottom:1em;}
#toolhead{font-size:14pt;background-color:#006600;width:100%;color:#FFF;padding:2px;padding-right:0px;font-weight:bold;font-family:sans-serif;}
#tools legend{font-size:14pt;font-family:sans-serif;}
#footer{position:fixed;left:0;bottom:0px;width:1000px;background-color:#FFF;padding-left:25%;padding-top:0.5em;border-top:solid #060 2px;}
#footer a{text-decoration:none;color:#FFF;margin:1em;}
#footer img{margin:0px;margin-right:10px;margin-left:10px;border:solid 2px #999;}
#title{position:absolute;top:0px;left:0px;width:1000px;font-family:"Arial",Arial,sans-serif;background-repeat:no-repeat;background-position:left top;}
#title h1{font-style:oblique;text-align:right;font-size:24pt;padding:0px;margin-bottom:-10px;padding-right:10px;color:#060;white-space:nowrap;z-index:1000;}
#title #title_tag{position:absolute;left:110px;width:900px;}
#copy{position:fixed;bottom:0px;left:0px;color:#909090;font-size:6pt;}
#main{position:relative;top:-25px;left:546px;border:none;width:550px;}
#rightpanel{position:relative;left:546px;width:550px;border:none;background-color:#FFF;}
.sub_main{position:relative;top:0px;}
.sub_main_news{position:relative;top:0px;width:100%;}
.sub_main_links{position:relative;top:0px;visibility:hidden;} 
.sub_main_head{border:solid;background-color:#CC9;font-family:"Arial",Arial,sans-serif;font-weight:bold;font-size:14pt;color:#000;padding-left:1em;text-align:right;}
.dateline{font-size:12pt;float:right;}
.sublink{margin-top:-0.5em;margin-bottom:-0.5em;margin-left:1em;margin-right:1em;}
.artlink{margin-left:1.5em;margin-top:-0.1em;}
a#xml{text-decoration:none;width:36px;height:12px;background-color:orange;font-weight:bold;color:#FFF;font-family:sans-serif;border:outset #CC9;font-size:8pt;text-align:center;vertical-align:middle;padding:0px;margin:0px;margin-right:5%;margin-left:5%;}
.sub_main img{float:right;padding:1em;width:50%;background: url("../images/zoom.gif") no-repeat scroll right bottom transparent;}
.sub_main_head .head_date{padding-left:5px;font-size:8pt;font-weight:normal;font-family:sans-serif;}
#sbt_jump{width:100%;white-space:nowrap;}
#ptools_jump{position:relative;width:100%;white-space:nowrap;}
select,button,input{border:outset 1px;font-weight:bold;background-color:#FFF;color:#000;margin-top:2px;}
.link_container{border:solid;border-top:none;height:72px;}
.cal{float:left;border:solid 3px;font-size:6pt;background-color:#DDD;text-align:right;border-collapse:collapse;margin:1em;}
.cal th{font-size:smaller;}
.cal td{font-size:smaller;border:solid 1px;}