/* resets */


/* classes */

.clsHidden{
    display: none;
}

.clsVisible{
    display: table-row;
} 
.clsHelpText{
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
}

.clsCategoryCheckboxTd{
    width: 20px;
    padding: 5px;
}
.clsCategoryNameTd{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.clsDescriptorCheckboxTd{
    padding: 5px;
    vertical-align: top;
    width: 20px;
}
.clsDescriptorName{
    font-size: 12px;
}

.clsFilterInputText{
    width: 30px;
    padding: 5px;
}
.clsFilterTD{
    font-size: 12px;
}
.clsFilterRow{
    visibility: hidden;
    display: none;
}

/* elements by id */

#divGrin{
    padding: 5px;
}
#divMainFormContainer{
    padding: 5px;
}

#divHelpContainer{
    padding: 5px;
}
#divHelpContainer p:last-child {
    margin-bottom: 0px;
}

#divCultivarsContainer{
    padding: 5px;
}
#divCultivarsHelperText{
    padding: 5px;
    margin-bottom: 5px;
}
#divCultivarSelectionContainer{
    padding: 5px;
    visibility: hidden;
    display: none;
}

#divFieldsHelperText{
    padding: 5px;
}

#tblCategoriesContainer td{
    padding: 5px;
    vertical-align: top;
}

#tdDescriptorsColumnLeft{
    vertical-align: top;
    padding: 4px;
}
#tdDescriptorsColumnMiddle{
    vertical-align: top;
    padding: 4px;
}
#tdDescriptorsColumnRight{
    vertical-align: top;
    padding: 4px;
}
#tblGRINResults{
    border-collapse: collapse;
    margin: 20px;
}
#tblGRINResults td, #tblGRINResults th{
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: left;
}
#tblGRINResults th{
    background-color: #DDD;
}
