<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
  <li><a href="{{ site.base_path }}/">Home</a></li>
  <li><a href="{{ site.base_path }}/tools/">Tools</a></li>
  <li><a href="{{ site.base_path }}/maps/">Maps</a></li>
  <li><a href="{{ site.base_path }}/resources/">Genomics</a></li>
  <li><a href="{{ site.base_path }}/collections/">Data Collections</a></li>
  <li><a href="{{ site.base_path }}/projects/">Projects</a></li>
  <li><a href="{{ site.base_path }}/community/">Community</a></li>
  <li><a href="{{ site.base_path }}/about/">About & Contact</a></li>
  <li><a href="{{ site.base_path }}/help/">Help & Tutorials</a></li>
  <li class="uk-nav-divider"></li>
  <li><a href="{{ site.base_path }}/news/">News</a></li>
  <li><a href="{{ site.base_path }}/events/">Events</a></li>
</ul>
