---
title: About the SoyBase database and soybeans
tools_menu: false
---

<div class="team">

<h1 class="top_bar">About the SoyBase Team</h1>
{% if site.data.team%}
{% assign current_team = site.data.team | where: "status", "current" %}
{% for member in current_team  %}
    <div class="uk-card uk-card-default uk-width-1-2@m uk-margin ">
    
      <div class="uk-card-header uk-text-bold uk-card-primary">
        {{ member.name }}
      </div>

      <div class="uk-grid-small uk-flex-middle uk-padding" >
        <div class="uk-width-auto">
          <div class="uk-flex uk-flex-between">
            <p class="uk-text-bold uk-margin-small-bottom">Role</p>
            <p class="uk-margin-remove">{{ member.role }}</p>
          </div>
          <div class="uk-flex uk-flex-between">
            <p class="uk-text-bold uk-margin-small-bottom">Specialization</p>
            <p class="uk-margin-remove">{{ member.specialization }}</p>
          </div>

          <div>
            <p colspan="2">
              <a href="{{ member.website }}">Learn More About {{ member.name }}</a>
            </p>
          </div>
      </div>
   </div>
  </div>
    {% endfor %}
 {%endif%}


<h1>Students and Postdocs</h1>

<table class="uk-table uk-table-striped uk-table-small">
  <tbody>
    {% assign student_team = site.data.team | where: "status", "student" %}
    {% for member in student_team %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.role }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h1>Alumni</h1>
<table class="uk-table uk-table-striped uk-table-small">
  <tbody>
    {% assign past_team = site.data.team | where: "status", "Alumni" %}
    {% for member in past_team %}
      <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.role }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
