---
layout: default
title: SoyBase Newsletters
sitemap: community
---

<h1>Sign up to receive SoyBase Update Newsletters</h1>
<script async src="https://eocampaign1.com/form/2a5a1d18-ee9f-11ed-ba16-e54bd4d87ec6.js" data-form="2a5a1d18-ee9f-11ed-ba16-e54bd4d87ec6"></script>

<hr > 

<h1>Past SoyBase Update Newsletters</h1>

<div class="uk-grid-small uk-margin-remove-left@s uk-margin-auto" uk-grid>
<div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-padding-small uk-margin-remove">
  <div class="uk-card uk-card-default">
      
      <div class="uk-card-header uk-text-bold uk-card-primary uk-padding-small">
        August 2024
      </div>

      <div class="uk-flex-middle uk-padding-small">
        <div class="uk-width-auto">
          <div class="uk-flex uk-flex-between">
            <p class="uk-text-bold uk-margin-small-bottom">Subject</p>
            <p class="uk-margin-remove">After a multi-year effort, a major SoyBase upgrade is nearly ready for release.</p>
          </div>

            <div>
            <p colspan="2">
              <a href="https://eocampaign1.com/web-version?p=99039506-58bf-11ef-92a9-2db7786326d4&pt=campaign&t=1723754423&s=3b0a3cfaaad1395dee7b83ce08b693b7f6be872e742b4de1a2f8ca6ab456110b" target="_blank"><span uk-icon="world"></span>View SoyBase Update Newsletter</a>
            </p>
            </div>
        </div>
      </div>
  </div>
</div>
  
</div>




<!--
<div class="uk-grid-small uk-margin-remove-left@s uk-margin-auto" uk-grid>
{% if site.data.team%}
{% assign current_team = site.data.team | where: "status", "current" %}
{% for member in current_team  %}
<div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-padding-small uk-margin-remove">
  <div class="uk-card uk-card-default">
      
      <div class="uk-card-header uk-text-bold uk-card-primary uk-padding-small">
        {{ member.name }}
      </div>

      <div class="uk-flex-middle uk-padding-small">
        <div class="uk-width-auto">
          <div class="uk-flex uk-flex-between">
            <p class="uk-text-bold uk-margin-small-bottom">Role</p>
            <p class="uk-margin-remove">{{ member.role }}</p>
          </div>
            <div class="uk-flex uk-flex-between">
              <p class="uk-text-bold uk-margin-small-bottom">Specialization</p>
              <p class="uk-margin-remove">{{ member.specialization }}</p>
            </div>

            <div>
            <p colspan="2">
              <a href="{{ member.website }}" target="_blank"><span uk-icon="world"></span> Learn More About {{ member.name }}</a>
            </p>
            </div>
        </div>
      </div>
  </div>
</div>
    {% endfor %}
 {%endif%}
</div>
-->
